- content_for :jumbotron do
  %h2=t 'users.login'

.col-md-4
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .field
      .input-group
        %span.input-group-addon Email
        = f.email_field :email, :autofocus => true, class: "form-control"

    .field
      .input-group
        %span.input-group-addon Password 
        = f.password_field :password, class: "form-control"

    - if devise_mapping.rememberable?
      .field
        .input-group
          .checkbox
            = f.check_box :remember_me
            =t 'users.remember_me'

    .field
      = f.submit t('users.login'), class: "btn btn-primary"

    .field
      = render "devise/shared/links"
